
<style>
    a {
        text-shadow: none;
        color: #afab14;
    }
</style>
@{ 
    int aid = ViewBag.id;
}
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-building"></i>سعر بداية المزاد
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("predict","Auction",new {  },FormMethod.Post,new { } ))
        {
   
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("سعر الافتتاح", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                     <input type="number" name="sbid" id="txt" class="form-control" />
                      <input hidden name="Aid" id="w2" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-offset-2 col-md-2 col-xs-9 col-sm-2">
                        <input type="submit" value="حفظ" class="btn btn-warning" style="width:100%" />
                    </div>
                </div>
            </div>
        }
       
    </div>
</div>
<script>
    var x = '@ViewBag.sb';
    document.getElementById("txt").value = x;
    var y = '@ViewBag.id';
    document.getElementById("w2").value = y;
</script>